<div class="side_padding_div">
  <div class="top_left_link">
    <% if current_user %>
      <%= link_to("Add a New Post!", posts_new_path) %>
    <% end %>
  </div>

  <div class="title_div">
    BLOG POSTINGS
    <div class="post_count">
      SHOWING <%= Post.all.count %> POSTS
    </div>
  </div>

    <% @posts.each do |post| %>
          <div class="card grey lighten-4">
            <span class="card-title">
              <b>Title:</b> <%= post.title %>
              <div class="poster">
                <% poster= User.find_by(id: post.user_id) %>
                posted by <b><u><%= link_to(poster.username, profile_path(poster.id)) %></u></b>
                <%= time_ago_in_words(post.updated_at) %> ago
              </div>
            </span>
              <div class="content_title">
                <b>Content:</b>
                <i><%= post.content %></i>
              </div>
              <ul class="options">
                <li><%=link_to("display post (lets you view and make comments)",
              posts_display_path(post.id)) %></li>
                <% if session[:user_id] == post.user_id %>
                <li><%=link_to("edit post ", posts_edit_path(post.id)) %></li>
                <li><%=link_to("delete post ", posts_delete_path(post.id)) %></li>
                <% end %>
                <br>
                <li><% num_of_comments = Comment.where(post_id: post.id) %>
                <% if num_of_comments[0] %>
                  <i><%= num_of_comments.size %> comments (last comment made by <b><u><%= link_to(poster.username, profile_path(poster.id)) %></u></b>
                  <%= time_ago_in_words(num_of_comments.last.updated_at) %> ago)</i></li>
                <% else %>
                  <i>no comments</i>
                <% end %>
            </ul>
            <div class="votes">
              <% u = PostVote.where(:upvote => true, :post_id => post.id) %>
              <% d = PostVote.where(:upvote => false, :post_id => post.id) %>
              <% upvotes = u.size %>
              <% downvotes = d.size %>
              <% if current_user %>
                <% votes = PostVote.where(:user_id => current_user.id, :post_id => post.id) %>
                <% if !votes[0] %>
                  <div class="vote_here">vote here</div>
                  <%= link_to image_tag("thumbs-up-512.png", {height: 25}), post_upvote_path(post.id) %>
                  <%= upvotes %>
                  <%= link_to image_tag("thumbs-down-512.png", {height: 25}), post_downvote_path(post.id) %>
                  <%= downvotes %>
                <% elsif votes[0].upvote == true && votes[0].downvote == false%>
                  <div class="upvoted">upvoted</div>
                  <%= link_to image_tag("thumbs-up-512.png", {height: 25}), post_vote_undo_path(post.id) %>
                  <%= upvotes %>
                  <%= link_to image_tag("thumbs-down-512.png", {height: 25}), post_vote_undo_path(post.id) %>
                  <%= downvotes %>
                <% elsif votes[0].upvote == false && votes[0].downvote == true%>
                  <div class="downvoted">downvoted</div>
                  <%= link_to image_tag("thumbs-up-512.png", {height: 25}), post_vote_undo_path(post.id) %>
                  <%= upvotes %>
                  <%= link_to image_tag("thumbs-down-512.png", {height: 25}), post_vote_undo_path(post.id) %>
                  <%= downvotes %>
                <% end %>
              <% else %>
                  <div class="vote_here">log in to vote</div>
                  <%= image_tag("thumbs-up-512.png", {height: 25}) %>
                  <%= upvotes %>
                  <%= image_tag("thumbs-down-512.png", {height: 25}) %>
                  <%= downvotes %>
              <% end %>
            </div>
          </div>
    <% end %>
</div>
<% scope = Post.page(params[:page]).per(10) %>
  <%= paginate(scope) %>
