<div class="side_padding_div">
  <div class="top_left_link">
    <%= link_to("Return to Homepage", root_path) %><br>
    <% @parent_comment = Comment.find(params["id"]) %>
    <%= link_to("Return to Post", posts_display_path(@parent_comment.post_id)) %>
  </div>

  <div class="poster2">
    <% commenter= User.find_by(id: @parent_comment.user_id) %>
    comment posted by <%= commenter.username %>
    <%= time_ago_in_words(@parent_comment.updated_at) %> ago
  </div>

  <div class="card-panel blue">
    <span class="white-text">
      <b><u>Comment:</b></u>  <%=@parent_comment.body %>
    </span>
  </div>

  <div class="comments_intro">
    Comments:
  </div>

  <div class="comments">
    <% child_comments = Comment.where(comment_id: @parent_comment.id) %>
    <% child_comments.each do |comment| %>
      <% if current_user %>
        <% u_id = current_user.id %>
      <% else %>
        <% u_id = 0 %>
      <% end %>
        <div class="card">
          <span class="card-title">
            <%= comment.body %>
          </span>
            <p><i>comment posted by
              <% poster= User.find_by(id: comment.user_id) %>
            <b><u><%= poster.username %></u></b>
            <%= time_ago_in_words(comment.updated_at) %> ago </i><br>
            <%=link_to("display comment (lets you view and make comments)",
          comments_display_path(comment.id)) %>
            <div class="votes">
              <% u = CommentVote.where(:upvote => true, :comment_id => comment.id) %>
              <% d = CommentVote.where(:upvote => false, :comment_id => comment.id) %>
              <% upvotes = u.size %>
              <% downvotes = d.size %>
              <% if current_user %>
                <% votes = CommentVote.where(:user_id => current_user.id, :comment_id => comment.id) %>
                <% if !votes[0] %>
                  <div class="vote_here">vote here</div>
                  <%= link_to image_tag("thumbs-up-512.png", {height: 25}), comment_upvote_path(comment.id) %>
                  <%= upvotes %>
                  <%= link_to image_tag("thumbs-down-512.png", {height: 25}), comment_downvote_path(comment.id) %>
                  <%= downvotes %>
                <% elsif votes[0].upvote == true && votes[0].downvote == false%>
                  <div class="upvoted">upvoted</div>
                  <%= link_to image_tag("thumbs-up-512.png", {height: 25}), comment_vote_undo_path(comment.id) %>
                  <%= upvotes %>
                  <%= link_to image_tag("thumbs-down-512.png", {height: 25}), comment_vote_undo_path(comment.id) %>
                  <%= downvotes %>
                <% elsif votes[0].upvote == false && votes[0].downvote == true%>
                  <div class="downvoted">downvoted</div>
                  <%= link_to image_tag("thumbs-up-512.png", {height: 25}), comment_vote_undo_path(comment.id) %>
                  <%= upvotes %>
                  <%= link_to image_tag("thumbs-down-512.png", {height: 25}), comment_vote_undo_path(comment.id) %>
                  <%= downvotes %>
                  <% end %>
              <% else %>
                <div class="vote_here">log in to vote</div>
                <%= image_tag("thumbs-up-512.png", {height: 25}) %>
                <%= upvotes %>
                <%= image_tag("thumbs-down-512.png", {height: 25}) %>
                <%= downvotes %>
              <% end %>
            </div>
            <% if comment.user_id == u_id %>
            <div class="card-action">
              <%= link_to("Delete Comment", delete_comment_path(comment.id)) %>
            </div>
            <% end %>
        </div>
    <% end %>
  </div>
  </br>
  <%=  form_tag(comment_on_comment_path(@parent_comment.id)) do %>
      <div class="post-field">
          <b><%= label_tag("Write Comment Here: ") %></b> <br/>
          <%= text_area_tag("body") %>
      </div>

      <button class="btn waves-effect waves-light" type="submit" name="action">
        Post Comment
      </button>
  <% end %>
</div>
