<div class="side_padding_div">
  <h2><%= current_user.username %>'s profile</h2>
  <% if current_user %>
    <%= link_to("Edit Profile", edit_profile_path(current_user.id)) %><br><br>
  <% end %>
  <b>Username: </b><%= current_user.username %><br>
  <b>Email: </b><%= current_user.email %><br><br>
  <div class="stats_title"><b>User Stats:</b></div>
  <div class="stats">
    <% posts_made = Post.where(user_id: @user.id).size %>
    <% comments_made = Comment.where(user_id: @user.id).size %>
    <b>posts made: </b><%= posts_made %><br>
    <b>comments made: </b><%= comments_made %><br>
    <b>total cards (posts and comments) made: </b><%= posts_made + comments_made %><br><br>
    <% user_posts = Post.where(user_id: @user.id) %>
    <% user_comments = Comment.where(user_id: @user.id) %>
    <% user_post_votes = [] %>
    <% user_posts.each do |post| %>
      <% post_votes = PostVote.where(post_id: post.id) %>
      <% post_votes.each do |vote| %>
        <% user_post_votes.push(vote) %>
      <% end %>
    <% end %>
    <% user_comment_votes = [] %>
    <% user_comments.each do |comment| %>
      <% comment_votes = CommentVote.where(comment_id: comment.id) %>
      <% comment_votes.each do |vote| %>
        <% user_comment_votes.push(vote) %>
      <% end %>
    <% end %>
    <% total_votes_to_user = user_post_votes.size + user_comment_votes.size %>
    <% upvotes_to_user = 0 %>
    <% downvotes_to_user = 0 %>
    <% user_post_votes.each do |vote| %>
      <% if vote.upvote %>
          <% upvotes_to_user += 1 %>
      <% else %>
          <% downvotes_to_user += 1 %>
      <% end %>
    <% end %>
    <% user_comment_votes.each do |vote| %>
      <% if vote.upvote %>
          <% upvotes_to_user += 1 %>
      <% else %>
          <% downvotes_to_user += 1 %>
      <% end %>
    <% end %>
    <% net_score_to_user = upvotes_to_user - downvotes_to_user %>
    <b>upvotes given to your cards: </b><%= upvotes_to_user %><br>
    <b>downvotes given to your cards: </b><%= downvotes_to_user %><br>
    <b>net score (upvotes - downvotes) given to your cards: </b><%= net_score_to_user %><br>
    <b>total votes given to your cards:</b> <%= total_votes_to_user %> <br><br>
    <% post_votes_given = PostVote.where(user_id: @user.id) %>
    <% comment_votes_given = CommentVote.where(user_id: @user.id) %>
    <% total_votes_given = post_votes_given.size + comment_votes_given.size %>
    <% post_upvotes_given = post_votes_given.where(upvote: true).size %>
    <% comment_upvotes_given = comment_votes_given.where(upvote: true).size %>
    <% upvotes_given = post_upvotes_given + comment_upvotes_given %>
    <% post_downvotes_given = post_votes_given.where(downvote: true).size %>
    <% comment_downvotes_given = comment_votes_given.where(downvote: true).size %>
    <% downvotes_given = post_downvotes_given + comment_downvotes_given %>
    <% net_score_given = upvotes_given - downvotes_given %>
    <b>upvotes you have given:</b> <%= upvotes_given %><br>
    <b>downvotes you have given:</b> <%= downvotes_given %><br>
    <b>net score you have given:</b> <%= net_score_given %><br>
    <b>total votes you have given: </b> <%= total_votes_given %><br>
  </div>
  <br>
  <b>Posts and Comments:</b>

  <p>
  <%= link_to("Return to Login Page", logins_path) %></br>
  <%= link_to("Return to Homepage", root_path) %>
</div>
